body {
    margin: 0;
    padding: 0;
    font-family: 'Jost', sans-serif;
    background: linear-gradient(#141e30, #2a6c56);
}

.navbar {
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background 0.3s;
}

.navbar a:hover {
    background: #03f484;
    color: #fff;
}

.dashboard-container {
    margin-top: 60px;
    padding: 20px;
}

.dashboard-container h1 {
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
}

.charts-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
}

.chart {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 300px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
}

.chart p {
    color: #fff;
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}

.graph-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
}

.bar-chart-container {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 100%;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
}

.bar-chart-container canvas {
    max-width: 100%;
    height: 300px; /* Adjust as needed */
    display: block;
    margin: 0 auto;
}

.bar-chart-container p {
    text-align: center;
    color: #fff;
    font-size: 18px;
    margin-top: 10px;
}
